<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
      <add name="HarvestEntities" connectionString="metadata=res://*/HarvestModel.csdl|res://*/HarvestModel.ssdl|res://*/HarvestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HUGINN\SIF;initial catalog=Harvest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
      <!--<add name="HarvestEntities" connectionString="metadata=res://*/HarvestModel.csdl|res://*/HarvestModel.ssdl|res://*/HarvestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THUNDARPC\HARVEST;initial catalog=Harvest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="Client_Desktop.Properties.Settings.HarvestConnectionString" connectionString="Data Source=HUGINN\SIF;Initial Catalog=Harvest;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>